.discovery-section
  .discovery.container
    .discovery__content
      .title
        | Mua &amp; B&aacute;n ti&#x1EC1;n m&atilde; 
        br
        |  ho&aacute; ch&#x1EC9; trong v&agrave;i ph&uacute;t
      .body_content
        | Tham gia s&agrave;n giao d&#x1ECB;ch ti&#x1EC1;n m&atilde; ho&aacute; nhanh ch&oacute;ng v&agrave; an to&agrave;n nh&#x1EA5;t 
        br
        |  Vi&#x1EC7;t Nam
      button.submid_button Kh&aacute;m ph&aacute;
    .discovery__logo
      img(src='images/logo.svg')